Repository Terag/kadok: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_code, test_chart

.gitlab-ci.yml:

stages:
  - test
  - delivery
  - deploy

variables:
  IMAGE_TAG: "snapshot"

workflow:
  rules:
    - if: '$CI_COMMIT_TAG != null'
      when: never
    - if: '$CI_PIPELINE_SOURCE != "merge_request_event" &&  $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      variables:
        IMAGE_TAG: merge-$CI_MERGE_REQUEST_ID
        KADOK_ENV: staging
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      variables:
        IMAGE_TAG: $CI_COMMIT_SHORT_SHA
        KADOK_ENV: production

test_code:
  stage: test
  image: golang:1.17
  rules:
    - changes:
      - "*.go"
      - go.mod
      - go.sum
  script:
    - go install github.com/t-yuki/gocover-cobertura@latest
    - go install github.com/jstemmer/go-junit-report@latest
    - go install github.com/kyoh86/richgo@latest
    - >
      go test -v -cover -covermode="count"
      -coverprofile=coverage.txt ./... |
      bash -c 'tee >(RICHGO_FORCE_COLOR=1 richgo testfilter > /dev/stderr)' |
      go-junit-report -set-exit-code > junit.xml
    - gocover-cobertura < coverage.txt > coverage.xml
    # The following line are required for gitlab to detect the covreage based on its regex match.
    # The regex being evaluated by gitlab is: coverage: \d+.\d+% of statements
    - >
      COVERAGE=$(go tool cover -func coverage.txt | grep total: | sed -e "s/\t//g" | sed -n -E 's/^.*\)([0-9]+\.[0-9]+)%$/\1/p')
    - >
      echo "coverage: $(printf '%.1f' "${COVERAGE}")% of statements"
  coverage: /^coverage:\s(\d+(?:\.\d+)?%)/
  artifacts:
    when: always
    name: $CI_JOB_NAME/coverage.txt
    paths:
      - coverage.xml
      - junit.xml
    reports:
      cobertura: coverage.xml
      junit: junit.xml

test_chart:
  stage: test
  image: devth/helm:latest
  environment:
    action: prepare
    name: kadok-staging
  rules:
    - changes:
      - charts/**/*
  script:
    - >
      helm lint
      --set image.repository=$CI_REGISTRY_IMAGE
      --set image.tag=$IMAGE_TAG
      --set 'podAnnotations.app\.gitlab\.com/env=${CI_ENVIRONMENT_SLUG}'
      --set 'podAnnotations.app\.gitlab\.com/app=${CI_PROJECT_PATH_SLUG}'
      --set imagePullSecrets[0].name=regcred-kadok
      --set registrySecret.create=true
      --set registrySecret.registry=$CI_REGISTRY
      --set registrySecret.password=$REGISTRY_TOKEN
      --set kadok.token=$DISCORD_TOKEN
      charts/kadok

delivery_image:
  stage: delivery
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  script:
    - mkdir -p /kaniko/.docker
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"auth\":\"$(echo -n ${CI_REGISTRY_USER}:${CI_REGISTRY_PASSWORD} | base64)\"}}}" > /kaniko/.docker/config.json
    - >
      /kaniko/executor
      --context $CI_PROJECT_DIR
      --dockerfile $CI_PROJECT_DIR/dockerfile
      --destination $CI_REGISTRY_IMAGE:$IMAGE_TAG
      --build-arg=BUILD_VERSION=$IMAGE_TAG
      --build-arg=GIT_COMMIT=$CI_COMMIT_SHA

deploy_kadok:
  stage: deploy
  image: devth/helm:latest
  environment:
    name: $KADOK_ENV
    kubernetes:
      namespace: kadok-$KADOK_ENV
  script:
    - >
      helm upgrade
      --install
      --cleanup-on-fail
      --atomic
      --create-namespace
      --namespace $KUBE_NAMESPACE
      --set image.repository=$CI_REGISTRY_IMAGE
      --set image.tag=$IMAGE_TAG
      --set gitlab.env=${CI_ENVIRONMENT_SLUG}
      --set gitlab.app=${CI_PROJECT_PATH_SLUG}
      --set imagePullSecrets[0].name=regcred-kadok
      --set registrySecret.create=true
      --set registrySecret.registry=$CI_REGISTRY
      --set registrySecret.password=$REGISTRY_TOKEN
      --set kadok.token=$DISCORD_TOKEN
      kadok-$KADOK_ENV
      charts/kadok

Automatically produce and publish Docker image (#16)
  .dockerignore
  .gitignore
  .gitlab-ci.yml
  README.md
  characters/characters_test.go
  dockerfile
  go.mod
  go.sum
  infos.go
  kadok.go
  security/security_test.go
Due: test_code

feature: change config structure (#47)
  .gitlab-ci.yml
  charts/kadok/config/properties.yaml
  charts/kadok/config/roles.json
  charts/kadok/templates/ConfigMap-Kadok.yaml
  charts/kadok/templates/Deployment-Kadok.yaml
  charts/kadok/templates/_helpers.tpl
  charts/kadok/values.yaml
  config/properties.yaml
  config/roles.json
  dockerfile
  docs/index.md
  kadok.go
  security/security_test.go
Due: test_code, test_chart

Create helm chart (#46)
  .gitlab-ci.yml
  charts/kadok/.helmignore
  charts/kadok/Chart.yaml
  charts/kadok/README.md
  charts/kadok/templates/Deployment-Kadok.yaml
  charts/kadok/templates/NOTES.txt
  charts/kadok/templates/Secret-Discord-Token.yaml
  charts/kadok/templates/Secret-Registry.yaml
  charts/kadok/templates/_helpers.tpl
  charts/kadok/values.yaml
Due: test_chart

fix: use standard deploy token
  .gitlab-ci.yml
Due: none

chore(module): update golang version and dependencies
  .gitignore
  go.mod
  go.sum
  kadok.go
Due: test_code

feat: handle roles from the bot (Closes #38)
  .dockerignore
  .editorconfig
  .gitignore
  .gitlab-ci.yml
  actions.go
  assets/templates/404.tmpl
  assets/templates/clanJoin.tmpl
  assets/templates/clanLeave.tmpl
  assets/templates/clanList.tmpl
  assets/templates/groupJoin.tmpl
  assets/templates/groupLeave.tmpl
  assets/templates/groupList.tmpl
  charts/kadok/config-production/properties.yaml
  charts/kadok/config-production/roles.json
  charts/kadok/config-staging/properties.yaml
  charts/kadok/config-staging/roles.json
  charts/kadok/config/roles.json
  charts/kadok/templates/ConfigMap-Kadok.yaml
  charts/kadok/templates/Deployment-Kadok.yaml
  charts/kadok/templates/Secret-Registry.yaml
  charts/kadok/templates/_helpers.tpl
  charts/kadok/values.yaml
  docs/usages.md
  kadok.go
  security/rbac.go
  security/rbac_test.go
  security/security.go
  security/security_test.go
  utils.go
Due: test_code, test_chart

ci(namespace): change deployment namespaces ()
  .gitlab-ci.yml
Due: none

refactor: refactor project structure to simplify configuration ()
  .dockerignore
  .editorconfig
  .gitlab-ci.yml
  Dockerfile
  Procfile
  characters/characters.go
  charts/kadok/config-production/properties.yaml
  charts/kadok/config-production/roles.json
  charts/kadok/config-staging/properties.yaml
  charts/kadok/config-staging/roles.json
  charts/kadok/config/properties.yaml
  charts/kadok/config/roles.json
  charts/kadok/templates/ConfigMap-Kadok-Properties.yaml
  charts/kadok/templates/ConfigMap-Kadok-Roles.yaml
  charts/kadok/templates/ConfigMap-Kadok.yaml
  charts/kadok/templates/Deployment-Kadok.yaml
  charts/kadok/templates/ServiceAccount-Kadok.yaml
  charts/kadok/templates/_helpers.tpl
  charts/kadok/values.yaml
  config/properties.yaml
  config/roles.json
  config/roles.yaml
  dockerfile
  go.mod
  security/rbac.go
  security/security.go
  security/security_test.go
Due: test_code, test_chart

feat: change flag to cobra (Closes #51)
  .editorconfig
  .gitignore
  Dockerfile
  LICENSE
  Makefile
  assets/templates/status.tmpl
  bot/actions.go
  bot/handlers.go
  bot/kadok.go
  bot/utils.go
  characters/characters.go
  cmd/root.go
  cmd/run.go
  cmd/version.go
  go.mod
  go.sum
  info/info.go
  kadok.go
  main.go
Due: test_code

feat(tooling): enforce commitlint (Closes #50)
  .gitignore
  .gitlab-ci.yml
  README.md
  commitlint.config.js
  package.json
  yarn.lock
Due: none

test(global): improve test coverage (Closes #11)
  .editorconfig
  .gitignore
  .gitlab-ci.yml
  Makefile
  README.md
  bot/actions_test.go
  characters/characters_test.go
  security/rbac.go
  security/rbac_test.go
  security/security_test.go
Due: none

feat(api): initiate openapi specification for kadok (Closes #54)
  .dockerignore
  .gitlab-ci.yml
  .husky/pre-commit
  README.md
  oas/.redocly.yaml
  oas/.spectral.yaml
  oas/components/examples/responses/GetWellKnownInfoResponse200Examples.yaml
  oas/components/examples/responses/GetWellKnownResponse200Examples.yaml
  oas/components/responses/GetWellKnownInfoResponse200.yaml
  oas/components/responses/GetWellKnownResponse200.yaml
  oas/generated/openapi.json
  oas/openapi.yaml
  oas/paths/.well-known.yaml
  oas/paths/.well-known@info.yaml
  package.json
  yarn.lock
Due: none

feat(api): implement http api and well-known resource (Closes #55)
  .gitlab-ci.yml
  .husky/pre-commit
  .redocly.yaml
  .spectral.yaml
  Dockerfile
  Makefile
  api-codegen.server.yaml
  api-codegen.types.yaml
  api/errors.go
  api/handlers.go
  api/main.go
  api/operations.go
  api/server.go
  api/types.go
  bot/main.go
  cmd/run.go
  go.mod
  go.sum
  oas/.redocly.yaml
  oas/components/entities/InfoContributor.yaml
  oas/components/entities/problems/InvalidParameter.yaml
  oas/components/entities/problems/Problem.yaml
  oas/components/entities/problems/Problem400.yaml
  oas/components/examples/responses/ErrorResponse400Examples.yaml
  oas/components/examples/responses/ErrorResponse404Examples.yaml
  oas/components/examples/responses/ErrorResponse500Examples.yaml
  oas/components/examples/responses/GetWellKnownInfoResponse200Examples.yaml
  oas/components/examples/responses/GetWellKnownResponse200Examples.yaml
  oas/components/responses/ErrorResponse400.yaml
  oas/components/responses/ErrorResponse404.yaml
  oas/components/responses/ErrorResponse500.yaml
  oas/components/responses/GetWellKnownInfoResponse200.yaml
  oas/generated/openapi.html
  oas/generated/openapi.json
  oas/paths/.well-known.yaml
  oas/paths/.well-known@info.yaml
  package.json
  yarn.lock
Due: test_code

feat: add caching capabilities ()
  internal/cache/interface.go
  internal/cache/memory.go
  internal/cache/memory_test.go
Due: none

feat: add radio france client ()
  internal/graphql/query.go
  internal/http/client.go
  internal/http/errors.go
  pkg/radio/interface.go
  pkg/radio/radioFrance.go
  pkg/radio/radioFrance_test.go
Due: none

feat: add get radio commands to bot ()
  assets/templates/radioInfo.tmpl
  assets/templates/radioList.tmpl
  charts/kadok/values.yaml
  internal/bot/actions.go
  internal/bot/main.go
  internal/http/client.go
  internal/utils/math.go
  internal/utils/pagination.go
  pkg/radio/properties.go
  pkg/radio/radio.go
  pkg/radio/radioFrance.go
Due: test_chart

fix: radio http client at startup ()
  .editorconfig
  .gitignore
  Dockerfile
  Makefile
  README.md
  charts/kadok/templates/Deployment-Kadok.yaml
  configs/properties.yaml
  internal/bot/actions.go
  internal/bot/actions_test.go
  internal/bot/context.go
  internal/bot/handlers.go
  internal/bot/main.go
  internal/http/client.go
  pkg/radio/properties.go
  pkg/radio/radio.go
  pkg/radio/radioFrance.go
  pkg/radio/radioFrance_test.go
Due: test_chart

feat: add radio stream capability (Closes #57)
  Dockerfile
  Makefile
  assets/templates/audioStop.tmpl
  assets/templates/radioListen.tmpl
  cmd/version.go
  go.mod
  go.sum
  internal/bot/actions.go
  internal/bot/context.go
  internal/bot/discord.go
  internal/bot/main.go
  internal/bot/voice.go
  internal/http/client.go
  internal/http/errors.go
  pkg/radio/radioFrance_test.go
Due: test_code
